.App {
  text-align: center;
  min-height: 100vh;
  background-color: #ebebeb;
}

.login{
  background-image: url("https://www.salesforce.com/content/dam/blogs/ca/Blog%20Posts/marketing-ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: lightslategrey; */
  min-height: 100vh;
}

.Mainkolor {
  background-image: linear-gradient(to bottom right,   #23a96f, #006d3e);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
