.Apps {
    text-align: center;
    min-height: 100vh;
    position: fixed;
  }
  
  .cbutton {
    cursor: pointer;
    display: inline-block;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 6px;
    min-width: 90px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -1;
  }
  
  .modal-backdrop{
  position: absolute;
  overflow-y: none;
  width: 1440px;
  height: 789px;
  left: 0px;
  top: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }

  .modal-backdrops{
    position: absolute;
    /* overflow-y: none; */
    width: 1440px;
    height: 289px;
    left: 0px;
    top: 0px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); */
    }
  
  .modal-test-wrapper1{
    position: fixed;
    background: white;
    background-image: url("../../Assets/GetTesting.png");
    margin: auto;
    height: 326px;
    width: 758px;
    left: 125px;
    top: 154px;
    border-radius: 7px;
    
  }

  .modal-test-wrapper2{
    position: fixed;
    background: white;
    background-image: url("../../Assets/api\ testing.png");
    margin: auto;
    height: 326px;
    width: 758px;
    left: 125px;
    top: 154px;
    border-radius: 7px;
    
  }
  
  /* .modal-test-wrapper{
    position: fixed;
    background: white;
    background-image: url("../../Assets/GetTesting.png");
    margin: auto;
    height: 450px;
    width: 435px;
    left: 285px;
    top: 117px;
    border-radius: 7px;
    
  } */